{% extends 'blog/base.html'%}

{% block content %}
    <div class="post">
            {% if post.published_date %}
              <div class="post">
                <span class="date">
                  {{post.published_date}}
                </span>
                {% else %}
              <a href="{% url 'post_publish' pk=post.pk %}"><<button type="button" name="button" class= "btn btn-primary">Publish</button> </a>
              </div>
            {% endif %}
            <h1>{{post.title}}</h1>
            <p>{{post.text|linebreaksbr}}</p>

{% endblock %}
