.page-header {
background-color: red;
margin-top: 0;
padding: 20px 20px 20px 40px;
}

.page-header h1 a{
  color: #fff;
  font-size: larger;
  text-decoration: none;
}
.content{
  margin-left: 40px;
}

h1,h2,h3,h4 {
  font-family:'fantasy';
  font-size: 48px;
}



.date {
  color: #828282
}

.post h1 a{
  color:#000000;
}

.post h1 a:visited{
  color: purple;
}

post-form-blog textarea{
  width: 100px;
}

post-form-blog .btn-primary{
  float:right;
}
